
<div fxflex="grow" fxLayoutAlign="center center" style="position: relative;">
    <mlc-loaded-svg fxflex="grow" class="myAbsolute" 
    [path]="buttonRoute" class="svg-button"
    ></mlc-loaded-svg>
    <ng-container>
      <ox-text class="text-button-tutorial" style="z-index: 1;"
        font="dinnMedium"
        [originalText]="tutorialText"
        fontSize="3.5vh"  
      ></ox-text>
    </ng-container>
</div>
<!-- <mlc-loaded-svg 
[path]="buttonRoute" class="svg-button"
></mlc-loaded-svg>
<ng-container>
  <ox-text class="text-button-tutorial"
    font="dinnMedium"
    [originalText]="tutorialText"
    fontSize="3.5vh"  
  ></ox-text>
</ng-container> -->