

.myAbsolute {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}


.time-bar {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #03A9F4;
    animation: timer 8s linear;
    z-index: 50; 
}

@keyframes timer {
    0% {
       width:0%;
    }
}

.game-container {
    width:100vw;
    height:100vh;
}


.gnome {
    @extend .myAbsolute;
    width: 30vh;
    height: 30vh;
  }


  .game-container-watch {
   filter:grayscale(0.9); }

  .selected-gnome {
    
    @extend .gnome;
    // background-color: rgba($color: #8ACC26
    // , $alpha: 0.5);
    border:#8ACC26 solid 1px;
    border-radius: 50%;
    animation: select 1s linear infinite;
    animation-timing-function: ease-in-out;
    transition-duration: 1s;
    cursor:pointer;
}



  @keyframes select {
    0% {
        background-color: transparent;
        border-color: transparent;
    }

    50% {
        background-color: rgba($color: #8ACC26
        , $alpha: 0.5);
        border:#8ACC26  
        solid 1px;
        border-radius: 50%;
    }

    100% {
        background-color: transparent;
        border-color: transparent;
    }

}

.text-tutorial-container {
width:133.33%;
height:10vh;
top: 73% ;
z-index: 40;
background-color: rgba($color: #10041c, $alpha: 0.9);
overflow: hidden;
}  


.tutorial-text{
    bottom:2.1vh;
    z-index: 50;
  }
  

.saltar-tutorial-button{
    font-size: 1.2rem;
    width:45vh;
    height:25vh;
    top: 78vh;
    right:2.5vh;
    z-index: 50;
    cursor:pointer;
}


.saltar-tutorial-text {
    color:black;
    position:fixed;
    z-index:100;
    width:40vh;
    top:89.5vh;
    right:5.4vh;
}



.tutorial-complete-container{
    background-color:rgba($color: #000, $alpha: 0.8);
    width: 100%;
    height: 100%;
    z-index: 200;
    
}

.tutorial-comṕlete-text{
    transform: translateY(-25px);
}

.complete-buttom {
    width:45vh;
    height:25vh; 
    z-index: 1100;
    cursor:pointer; 
}

.play-now-text{
    font-size: 1.2rem;
    width:45vh;
    height:25vh;     
    top:29.2vh;
    z-index: 1150;
    transform: translateY(-0.8vh);
    color:black; 
    cursor:pointer; 
    position:absolute;
}



.repeat-tutorial-text{
    font-size: 1.2rem;
    width:45vh;
    height:25vh;
    top:54.2vh;
    transform: translateY(-0.8vh);
    z-index: 1150;
    color:black; 
    cursor:pointer; 
    position:absolute;

}

  