<app-scene class="myAbsolute" fxFlex="grow"></app-scene>
<mlc-ratio-container ratio="4:3" fxFlex="grow" style="position: relative">
  <div insideRatio style="width: 100%; height: 100%; z-index: 1"
       fxLayoutAlign="center center"
       fxLayout="column"
  fxLayoutGap="25vh">
    <div class="full-width"
         style="transform: translateY(2.5vh)"
         fxLayoutAlign="center center" fxLayoutGap="70vh">
      <app-gnome *ngFor="let i of gnomes.slice(0, 2)"
                 [gnomeInfo]="i"
                 style="width: 20vh; height: 20vh;"></app-gnome>
    </div>

    <div class="full-width" fxLayoutAlign="center center" fxLayoutGap="70vh">
      <app-gnome *ngFor="let i of gnomes.slice(2, 4)"
                 [gnomeInfo]="i"
                 style="width: 20vh; height: 20vh;"></app-gnome>
    </div>
  </div>
</mlc-ratio-container>
