.timer {
  background: #58e7c6;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 0 1.25vmin, inset 2.5vmin 2.5vmin 5vmin rgb(0 0 0 / 13%), 2.5vmin 2.5vmin 5vmin rgb(0 0 0 / 13%);
}
